
# Account number shown on https://myaccount.contact.co.nz/home of your bill
ACCOUNT_ID=
# In browser when viewing usage, look for request https://api.contact-digital-prod.net/usage/v2/{ACCOUNT_ID}?ba={CONTRACT_ID}
CONTRACT_ID=

# Authenticate using API token
TOKEN=
